=button-common
  font-family: "Muli", sans-serif
  font-weight: bold
  font-size: 1.125rem
  border-radius: 3px
  padding: 0.875rem 2.063rem
  border: 1px solid #4B0082
  cursor: pointer
  &:focus
    outline: none

.navbar-item__basic
  background-color: transparent
  color: $primary
  +button-common
  &:hover,
  &:active
    background-color: $primary
    color: $white
    box-shadow: rgba(75, 0, 130, 0.17) 0 0.625rem 0.8rem
.navbar-item__flat
  background-color: $primary
  color: $white
  +button-common
  transition: all 0.3s ease-out
  +touch
    background-color: darken($primary, 5%)
    box-shadow: rgba(75, 0, 130, 0.17) 0 0.625rem 0.8rem
  &:hover,
  &:active
    background-color: darken($primary, 5%)
    box-shadow: rgba(75, 0, 130, 0.17) 0 0.625rem 0.8rem


.chat-button
  padding: 0.25rem 2.2rem
  height: 2.763rem
  color: $whatapp-button-color
  border-color: $whatapp-button-color
  &:hover,
  &:active
    background-color: $whatapp-button-color
    color: $white !important
    box-shadow: rgba(46, 179, 100, 0.25) 0 0.625rem 0.8rem
    border-color: $whatapp-button-color
  &:hover,
  &:focus
    color: $white
  &:focus
    color: $whatapp-button-color
    border-color: $whatapp-button-color
    box-shadow: none !important
  .icon
    margin-right: 1rem !important
