.center-content
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  +touch
    align-items: flex-start
.visible-on__tablet-only
  +tablet-only
    display: block

.margin-on-mobile
  +mobile
    margin: 0 0 .5rem 0 !important

.text-opacity
  opacity: 54%

.column-reverse__mobile
  +mobile
    display: flex
    flex-direction: column-reverse
.heading-size
  font-size: 0.875rem !important
.center-row
  display: flex
  align-items: center

.video-js
  width: 100%
  height: 100%
