=footer-button__styling
  .chat-button
    +mobile
      padding: 0 1.2rem
      background-color: $whatapp-button-color
      color: $white
      box-shadow: rgba(46, 179, 100, 0.25) 0 0.625rem 0.8rem
      border-color: $whatapp-button-color
  .navbar-item__basic-footer
    font-size: 1rem
    padding: .7rem 1.28rem
    margin-top: 1.5rem

    +mobile
      margin-top: -0.5rem

.footer
  padding: 2.125rem 6.75rem
  background-color: $white
  width: 96%
  height: auto
  margin: auto
  box-shadow: 0px -2px 12px rgba(0, 0, 0, 0.12)
  border-radius: 3px 3px 0 0
  +widescreen-only
    padding: 2.125rem 2rem
  +desktop-only
    padding: 2.125rem 1.75rem
  +touch
    padding: 1.125rem 0.5rem
  .title
    font-weight: 900
  .footer-imstrong__logo
    display: flex
    flex-direction: row
    align-items: center
  .footer-imstrong__logo-subtitle
    margin-top: .5rem
    span
      opacity: 54%
    a
      color: $primary
      opacity: 1
  .footer_links
    margin-bottom: 1.25rem
    a
      color: $black
      font-weight: bold
      font-size: 0.875rem
      //font-family: $family-muli
      +mobile
        color: $primary
      &:hover,
      &:active
        color: $primary
      +tablet-only
        margin-right: 1.2rem !important
      +until-fullhd
        font-size: 0.875rem
      &:not(:last-child)
        margin-right: 2rem
        +until-fullhd
          margin-right: 1rem
  +footer-button__styling

  .footer_links--policy
    text-align: end
    a
      color: $black
      opacity: 0.54
      font-size: 0.875rem
      +mobile
        font-size: 0.75rem
        color: $primary
        opacity: 1
      &:hover,
      &:active
        color: $primary
        opacity: 1
    a:not(:last-child)
      margin-right: 2.5rem
      +mobile
        margin-right: 2rem
    +mobile
      text-align: start
    +tablet-only
      margin-right: 1.2rem



.on-touch-only
  +tablet-only
    margin-bottom: 2rem
