@charset "utf-8"

@import "../node_modules/bulma/sass/utilities/initial-variables"

// Set your brand colors
@import "colors.sass"

// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif

// Set the derived variables
$primary: $purple
$primary-invert: $purple-invert

//custom variable
$transparent: #ffffff00
$whatapp-button-color: #2EB364
$telegram-button-color: #0088cc

// Update Bulma's global variables
$navbar-item-hover-color: $primary
$navbar-item-hover-background-color: $transparent
$navbar-dropdown-arrow: $primary
$navbar-dropdown-item-hover-color: $primary
//$navbar-dropdown-background-color: rgba(0, 0, 0, 0.2)

@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&display=swap)

@import url(https://fonts.googleapis.com/css?family=Karla:400,700&display=swap)

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap')

@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,800&display=swap')

// custome fonts
@font-face
  font-family: 'adobe-garamond-pro'
  src: url('../fonts/AdobeGaramondProBold.ttf') format("ttf"), url('../fonts/AdobeGaramondProRegular.woff') format("woff"), url('../fonts/AdobeGaramondProRegular.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'adobe-garamond-pro'
  src: url('../fonts/AdobeGaramondProBold.ttf') format("ttf"), url('../fonts/AdobeGaramondProBold.woff') format("woff"), url('../fonts/AdobeGaramondProBold.woff2') format('woff2')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Gilroy'
  src: url('../fonts/Gilroy-ExtraBold.otf') format("opentype")
  font-weight: bold
  font-style: normal


@font-face
  font-family: 'Gilroy'
  src: url('../fonts/Gilroy-Light.otf') format("opentype")
  font-weight: 300
  font-style: normal
// default bulma

// brand fonts
$family-gilroy: "Gilroy", sans-serif
$family-karla: "Karla", sans-serif
$family-source-serif-pro: "Source Serif Pro", sans-serif
$family-permanent-marker: "Permanent Marker", cursive
$family-garamond: "adobe-garamond-pro", serif
$family-muli: 'Muli', sans-serif

// Update Bulma's global variables
$title-family: $family-muli
$subtitle-family: $family-muli
$button-family: $family-muli
$body-family: $family-muli

@import "../node_modules/bulma/bulma"
@import "../node_modules/bulma/sass/utilities/all"
@import "../node_modules/bulma/sass/base/all"
@import "../node_modules/bulma/sass/elements/all"
@import "../node_modules/bulma/sass/form/all"
@import "../node_modules/bulma/sass/components/all"
@import "../node_modules/bulma/sass/layout/all"
@import "../node_modules/bulma/sass/grid/all"
