.hero-head
  .navbar
    background-color: $white
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.05)
    height: 4.563rem
    width: 100vw
    //min-width: 37.813rem;
    +touch
      height: 0
      position: fixed
    .navbar-on__mobile
      display: flex
      flex-direction: row
      margin-left: auto
      .navbar-item__basic
        border: none
        &:hover,
        &:active
          background-color: transparent
          color: $primary
          box-shadow: none
      .navbar-on__mobile__basic
        padding: 0rem 0.625rem
    .navbar-menu
      &.is-active
        +touch
          box-shadow: 0 8px 12px rgba(0, 0, 0, 0.05)
          background: rgba(255, 255, 255, 0.9)
      .navbar-end
        align-items: center
        .navbar-item__zerodha
          //font-family: "Muli", sans-serif
          font-size: 1.125rem
          +touch
            display: flex
            color: $white
        .navbar-item__basic
          border: none
          &:hover,
          &:active
            background-color: transparent
            color: $primary
            box-shadow: none
        button:not(:last-child)
          margin-right: .5rem
          +touch
            margin-right: 0
            margin-bottom: 20px
