=background-img
  background-size: cover
  position: relative
  +desktop-only
    width: 35.75rem
    transform: scale(0.9)
  +mobile
    width: 100vw
    height: 18.313rem

.trainer__img--overlay
    padding: 1rem 1.8rem
    width: 26.188rem
    height: 10.875rem
    background: rgba(50, 7, 83, 0.76) no-repeat
    border-radius: 0 10px
    position: absolute
    bottom: 5.25rem
    left: 0.25rem
    +desktop-only
      bottom: 4.8rem
    +mobile
      padding: 0.9rem 0 0 1rem
      width: 17.188rem
      height: 8.875rem
      bottom: 0
      border-radius: 0
    .trainer__img--overlay-title
      font-family: $family-garamond
      font-size: 2.25rem
      +mobile
        font-size: 1.775rem
    .trainer__img--overlay-subtitle
      margin-bottom: 0.5rem
      +mobile
        font-size: 0.8rem
    .watch-button
      background-color: transparent
      width: 9.5rem
      display: flex
      flex-direction: row
      align-items: center
      color: #FFD857
      padding: 0
      border: none
      cursor: pointer
      img
        margin-right: 0.823rem
        width: 2.5rem
      &:focus
        outline: none
      +mobile
        font-size: 0.8rem

