// -------- Session Booking Card Styles --------
.live-video-info-wrapper
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    border-radius: 0.25rem
    padding: 1.25rem
    height: 100%
    box-shadow: #00000014 0rem 0rem 2.5rem

    .text
        font-size: 1.25rem
        font-family: $family-muli

.live-video-info-wrapper__background
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

.live-video-info-wrapper__text
    font-family: $family-muli
    font-size: 1.125rem
    text-align: center
    line-height: 2

.live-video-info-wrapper__tag
    background-color: #fff8d8
    color: black
    font-weight: normal
    font-size: 1.25rem
    margin-top: 1rem

.session-booking
    border-radius: 0.25rem
    opacity: 0.98
    padding: 2rem 2rem 1.25rem
    box-shadow: #00000014 0rem 0rem 2.5rem

.session-booking__title
    font-family: $family-muli
    font-weight: $weight-bold
    font-size: 1.875rem
    color: #333
    margin: 1rem 0rem

.session-booking__description
    font-family: $family-muli
    color: $dove_gray

.session-booking__text
    font-family: $family-muli
    
.session-booking__subtitle
    font-family: $family-muli
    font-weight: $weight-normal
    font-size: 1.125rem
    color: $dark

.session-booking__month
    position: absolute
    top: 0
    right: 0
    font-family: $family-muli
    font-weight: $weight-normal
    font-size: 0.875rem
    padding: 0.125rem 0.5rem 0.25rem
    border-radius: 0.1875rem 0.25rem 0rem 0.1875rem
    background-color: transparentize(#FFF8D8, 0.13)

.session-booking__plan-of-day-tag
    font-family: $family-muli
    font-size: 0.875rem
    padding: 0.125rem 0.5rem
    background-color: #FFF8D8
    opacity: 0.87
    border-radius: 0.1875rem
    width: fit-content
    margin-top: 1.25rem

.session-booking__footer
    background-color: #F4F4F4
    padding: 0.625rem 1.125rem
    margin: 2rem -2.5rem -2.5rem
    border-radius: 0rem 0rem 0.25rem 0.25rem
    font-family: $family-muli
    font-size: 0.875rem

    +mobile
        margin: 2rem -0.625rem -2.5rem

.session-date-tabs
    display: grid
    grid-template-columns: 3rem 3rem 3rem 3rem
    justify-content: space-between
    margin-bottom: 1.5rem

.session-date-tab
    cursor: pointer
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.session-date-tab__date
    font-family: $family-muli
    color: $dove_gray
    font-size: 1.125rem
    margin-bottom: 0.75rem

.session-date-tab__day
    font-family: $family-garamond
    color: $dusty_gray
    font-size: 0.875rem

.is-active > .session-date-tab__date
    display: flex
    align-items: center
    justify-content: center
    font-weight: $weight-bold
    border-radius: 100%
    width: 3rem
    height: 3rem
    background-color: transparentize(#FFD857, 0.13)
    color: $black
    @include transition('background-color 2s ease')

.is-active > .session-date-tab__day
    font-weight: $weight-bold
    color: $black

.session-booking__divider
    margin: 0.75rem -2rem 0rem
    background-color: #707070
    opacity: 0.14

.session-booking__timezone
    background-color: transparentize(#FFF8D8, 0.13)
    padding: 0.25rem 0.625rem
    margin: 0rem -2.5rem 1.5rem auto
    width: fit-content
    border-bottom-left-radius: 0.25rem
    font-family: $family-muli
    font-weight: $weight-semibold

    +mobile
        margin: 0rem -0.625rem 2rem auto
    

.session-slots
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 1.5rem 1.875rem
       
    +mobile
        display: flex
        overflow-x: scroll
        height: auto

.session-slots__view-all
    cursor: pointer
    font-family: $family-muli
    font-weight: $weight-semibold
    color: #4B0082
    padding: 0.75rem 1rem
    text-align: center
    white-space: nowrap

.session-slot
    text-align: center
    height: 4.5rem

    +mobile
        &:not(:last-child)
            margin-right: 2rem
        &:last-child
            margin-right: 1.5rem

.session-slot__text
    width: 100%
    cursor: pointer
    border-radius: 0.25rem
    border: 0.125rem solid #E6E6E6
    font-family: $family-muli
    padding: 0.75rem 1rem
    font-weight: $weight-bold
    font-size: 1.125rem
    display: inline-flex
    align-items: center
    justify-content: center
    color: $black
    @include transition('all 0.5s ease')

.session-slot__mid-day
    font-size: 0.875rem
    font-weight: $weight-normal

    &.pm
        color: #FFA333

.session-slot__info-text
    font-family: $family-muli
    font-size: 0.875rem
    margin-top: 0.25rem
    text-align: center
        
.icon-check
    color: #38DA4A
    display: none
    margin-left: 0.4rem

.icon-cancel
    color: #EF3E2C
    display: none
    margin-left: 0.4rem
    font-size: 1rem

.is-expanded .session-slots
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-gap: 1.5rem 1.25rem
    padding: 0rem 0.25rem
    height: 10rem
    overflow-y: scroll

    &::-webkit-scrollbar
        width: 0.25rem
        height: 0.25rem

    &::-webkit-scrollbar-track
        background-color: transparentize($dove_gray, 0.75)
        border-radius: 0.25rem

    &::-webkit-scrollbar-thumb
        background-color: #4B0082
        border-radius: 0.25rem

.is-expanded .session-slot__text
    font-size: 0.875rem

.is-selected .session-slot__text
    border-color: #00D140
    @include transition('all 0.5s ease')

.is-expanded .is-reserved .session-slot__text
    font-size: 0.75rem

.is-reserved  .session-slot__text
    border: 0.125rem solid #00D140
    font-size: 0.875rem
    @include transition('all 0.5s ease')

.is-cancelled  .session-slot__text
    border: 0.125rem solid #EF3E2C
    font-size: 0.875rem
    @include transition('all 0.5s ease')
    
.is-reserved .icon-check
    display: block

.is-reserved .icon-cancel
    display: none

.is-reserved .session-slot__info-text
    color: $dove_gray

.is-cancelled .icon-check
    display: none

.is-cancelled .icon-cancel
    display: block

.is-cancelled .session-slot__info-text
    color: #EF3E2C

.session-reserve
    display: flex
    margin-top: 1.25rem
    @include transition('all 2s ease')

    +mobile
        flex-direction: column
    
.session-reserve__next-page
    font-family: $family-muli
    color: #4B0082

.session-reserve__remind-text
    font-family: $family-muli
    font-size: 0.875rem
    margin: 1rem 0rem 0.625rem

.session-reserve__remind-me-link
    font-family: $family-muli
    font-weight: $weight-bold
    color: #4B0082

.session-reserve__button-wrap
    margin-left: auto
    display: flex
    flex-direction: column
    align-items: center

    +mobile
        margin: 1rem 0rem

.session-reserve__button
    display: inline-flex
    align-items: center
    padding: 1rem 1.25rem
    font-family: $family-muli
    font-weight: 800
    font-size: 1.125rem
    border-radius: 0.1875rem
    border: 0.0625rem solid #54008D
    background: #4B0082
    color: white

    &.is-outlined
        color: #4B0082
        background: transparent

.session-reserve__tagline
    margin-top: 0.5rem
    font-family: $family-muli
    font-size: 0.625rem
    text-align: center

.session-reserve__loading-icon
    font-size: 1.25rem