// Signup flow css
.signup
    padding: 0rem
    +mobile
        width: 100%
    .back,.next
        font-family: $family-karla
        font-size: 1.125rem
        font-weight: $weight-bold
        display: flex
        flex-direction: row
        align-items: center

    .back
        span
            margin-left: 0.5625rem

    .next
        span
            margin-right: 0.5625rem

    .signup-animatable
        margin-top: 2rem
        @include animation('fadein 2s')

    .register-header
      margin-bottom: 3.75rem
      +mobile
        margin-top: 1rem
        margin-bottom: 1rem
      .wrapper
        display: flex
        align-items: center
        justify-content: flex-end
        +mobile
          justify-content: center

        .label-text
          font-family: $family-karla
          margin-right: 0.625rem
          color: #000000

    .card
        position: relative
        box-shadow: 0 0 1.25rem transparentize($black, 0.92)
        border-radius: 0.625rem
        padding: 2.5rem 5rem 3.125rem

        +mobile
            padding: 1.25rem 0.625rem

    .card-content
        padding: 0rem

    .title
        display: block
        font-size: 1.875rem
        font-weight: $weight-light
        color: black
        margin-bottom: 3.125rem
        +mobile
            font-size: 1.3rem
            margin-bottom: 1.25rem
            text-align: center

    .submit-button-wrapper
        display: flex
        align-items: center
        +mobile
            flex-direction: column

    .submit-button,.submit-button-wrapper
        position: absolute
        bottom: 0
        right: 5rem
        transform: translateY(50%)
        +mobile
            position: unset !important
            transform: translateY(0%)
            width: 100%
            margin-top: 1.25rem
            position: relative
        .done
            border: 1px solid #ccc
            margin-right: 0.625rem
            &:hover
                box-shadow: #0000001F 0 10px 25px

            +mobile
                margin: 0rem
                margin-bottom: 0.625rem
                width: 80%

    .tags-container
        display: flex
        flex-direction: row
        flex-wrap: wrap
        align-items: center

        &:not(:last-child)
            margin-bottom: 2.5rem

    .tag
        cursor: pointer
        background-color: transparent
        color: $black
        font-size: 1.125rem
        font-weight: $weight-bold
        font-family: $family-karla
        padding: 1.875rem
        border: 1px solid #CCCCCC
        border-radius: 0.3125rem

        &.is-active
            background: transparent linear-gradient(105deg, #53FDA8 0%, #440DBE 100%) 0% 0% no-repeat padding-box
            border: 0px solid transparent
            box-shadow: 0rem 0rem 0.75rem #00000029
            padding: 1.9375rem
            color: $white

            span
                color: $white

        &:not(:last-child)
            margin-right: 2.5rem

        &.gender-tag
            width: 140px
            height: 140px

    .activity-section
        .title
            font-size: 1.5rem
            +mobile
                font-size: 1.3rem
                line-height: 1.5

    .problem-input
        border-width: 0rem
        border-bottom-width: 1px
        border-radius: 0rem
        box-shadow: none
        &:focus
            box-shadow: unset

    .problem-tags
        .tags-container
            +mobile
                justify-content: space-between
            +tablet
                display: grid
                grid-template-columns: 1fr 1fr 1fr
                grid-gap: 1.125rem
        .tag
            margin: 0rem
            +mobile
                margin: 0.9375rem
                flex: 1

    .other-problems-tag
        +mobile
            margin-bottom: 0.625rem
            width: 100%

    .gender-tags
        +mobile
            justify-content: space-between
        .tag
            +mobile
                margin: 0.3125rem

    .age-tags
        display: flex
        flex-direction: column
        align-items: center
        .tags-container
            display: grid
            grid-template-columns: 7.5rem 7.5rem
            grid-gap: 2rem
            

        .tag
            width: 7.5rem
            height: 7.5rem
            

    .activity-level-tags
        display: flex
        flex-direction: column
        align-items: center

        .tags-container
            display: grid
            grid-template-columns: 7.5rem 7.5rem
            grid-gap: 2rem

            .tag
                width: 7.5rem
                height: 7.5rem
                white-space: unset
                text-align: center
                padding: 2.25rem 0.625rem
                flex-direction: column


                span
                    font-size: 0.875rem
                    font-weight: $weight-normal
                    color: $dove_gray

                &.is-active
                    span
                        color: white !important

    .rememberPassword,.termscondn
        label
            font-family: $family-karla

    .forgotPassword
        font-family: $family-karla
        font-weight: $weight-bold
        &:hover
            color: #363636

    .countryInputLabel
        font-family: $family-karla
        font-size: 1.125em
        font-weight: $weight-bold
        color: black

    .error-text,.info-text
        font-family: $family-karla

    .control
        position: relative
        border: #707070 solid 1px
        border-radius: 0.3125rem

        .input,.textarea
            box-shadow: none

        .input
            padding: 1.9rem 1.25rem 1.75rem
            border-color: transparent

            &:focus
                border-color: transparent
                box-shadow: unset
                & ~ .label
                    display: block

            &.mobile_input
                margin-left: 5rem
                width: 100%
                width: -webkit-fill-available
                width: -mz-fill-available
                border-top-left-radius: 0rem
                border-bottom-left-radius: 0rem

        .mobile_input_label
            margin-left: 4.5rem
            left: 1.75rem !important

        .dropdown
            position: absolute
            top: 0
            bottom: 0
            left: 0
            height: 100%
            z-index: 10
            width: 5rem
            border-width: 0rem
            border-right-width: 0.16rem

            .dropdown-menu
                width: 24rem
                max-height: 20rem
                padding-top: 1px
                background: white
                border: 1px solid #dbdbdb
                border-radius: 0.3125rem
                margin-top: 0.3125rem
                overflow-x: hidden

                +mobile
                    width: 19.5rem

                .dropdown-content
                    border: unset
                    overflow-y: scroll
                    border-radius: 0rem

                .dropdown-item
                    display: flex
                    align-items: center
                    flex-direction: column
                    padding: 0rem 1.5rem
                    font-family: $family-karla

                .control
                    border: unset
                    width: 23.9rem
                    z-index: 10

                    +mobile
                        width: 19.4rem

                    .input
                        border-top: none
                        border-top-left-radius: 0.25rem
                        border-top-right-radius: 0.25rem
                        border-radius: 0rem
                        border-right-width: 0rem
                        border-left-width: 0rem
                        padding: 0.9375rem 0.625rem

            .button
                height: 100%
                border-right: #707070 solid 1px
                border-top-right-radius: 0rem
                border-bottom-right-radius: 0rem
                padding: 0.9375rem 1.09375rem !important
                font-size: 0.875rem
                font-family: $family-karla
                font-weight: $weight-light
                display: flex
                align-items: center

                &:hover
                    box-shadow: none

                .icon
                    position: unset

        .icon
            height: 100%
            font-size: 1.875rem !important

        .label
            position: absolute
            transition: top 0.7s ease, opacity 0.7s ease
            top: 4px
            left: 20px
            font-size: 0.75rem
            color: $purple

        .error-text
            color: red
            font-family: $family-karla

        .password-toggle
            font-family: $family-karla
            font-weight: $weight-bold
            position: absolute
            top: 0
            bottom: 0
            right: 0
            height: 100%
            padding: 1.25rem
            display: flex
            flex-direction: column
            justify-content: center

    .signup-success
        flex-direction: column
        align-items: center

        .success-message
            font-family: $family-karla
            font-size: 1rem
            color: #333333
            margin-bottom: 1.5rem
            +mobile
                margin-bottom: 2rem

        .title-wrapper
            align-items: center
            margin-bottom: 1.25rem
            width: 80%

        .title
            font-size: 1.5rem
            margin: 0rem 0.7rem
            white-space: nowrap
            +mobile
                word-break: keep-all
                white-space: normal

        hr
            width: 100%

        .description
            font-size: 1.125rem
            margin-bottom: 0.625rem
            white-space: nowrap
            font-family: $family-source-serif-pro
            +mobile
                white-space: pre-line

        .phoneno
            display: block
            margin: 0 auto
            font-family: $family-source-serif-pro
            font-size: 1.25rem

    .oauth-loader
        display: flex
        align-items: center
        justify-content: center

        .loading-message
            margin-right: 1.25rem
            font-family: $family-karla
            font-size: 1.5rem
            color: $black

        .loading-icon
            color: $primary

// signup login modal
@mixin auth-modal-style
    .modal
        +mobile
            padding: 1.25rem
            
    .modal-content
        width: fit-content
        height: 100%
        +mobile
            width: 100%
            max-height: 100%

    .modal-background
        background-color: rgba(0, 0, 0, 0.44)

    .card-close
        position: absolute
        top: 0
        right: 0
        margin: 1.25rem

    a
        color: $purple

        &:hover
            color: darken($purple, 1)

    .button
        border-radius: 0.3125rem

    .submit-button
        background-color: indigo
        color: #fff
        font-family: "Muli", sans-serif
        font-weight: bold
        font-size: 1.5rem
        border-radius: 3px
        padding: 0rem 2.063rem
        border: 1px solid #4B0082
        cursor: pointer
        transition: all 0.3s ease-out

        +mobile
            padding: unset
        
.auth-modal
    @include auth-modal-style

.zerodha-auth-modal
    @include auth-modal-style

    .register-header
        display: none