@import "../_shared-sass/imstrong-ui.sass"
@import "../_shared-sass/footer.sass"

.navbar
  .button
    &:hover,
    &:active
      box-shadow: rgba(75, 0, 130, 0.17) 0 0.625rem 0.8rem
    &:focus
      box-shadow: none !important
  .navbar-item__flat
    +touch
      font-size: 0.875rem
      height: 2.5rem
      padding: 0 1.125rem

.document-section
  margin-bottom: 2.5rem
  +touch
    margin-bottom: 0
  .container
    margin: 0 7.25rem
    +touch
      margin: 2rem 0.5rem
    .content
      .title, .subtitle
        font-weight: 900 !important
      p
        margin-bottom: 1.2rem
        margin-top: .8rem

