@import "../_shared-sass/imstrong-ui.sass"
@import "../_shared-sass/image-with-overlay.sass"

.hero
  .hero-body
    overflow-x: hidden
    +touch
      padding: 5rem 0

    .container
      +desktop-only
        display: flex
        justify-content: center
      +widescreen-only
        display: flex
        justify-content: center

      .columns
        +touch
          flex-direction: row-reverse
          flex-wrap: wrap-reverse
          justify-content: center

        .column
          flex-grow: 0
          +mobile
            padding: 0.75rem 0

          .is-hidden-touch, .is-hidden-desktop
            margin-bottom: 1.25rem

            h1
              font-weight: 800

            +mobile
              padding: 0 1.75rem
              h1
                font-size: 1.8rem
              h6
                font-size: 0.72rem !important
              img
                width: 24px
                height: 24px
          .trainer__img
            background: transparent url("../Image/Image-19.png") no-repeat top
            width: 35.75rem
            height: 30.313rem
            +mobile
              background: transparent url("../Image/image-manish.png") no-repeat top
              background-size: cover
              .trainer__img--overlay
                left: 0
            +background-img

        .img__container
          +tablet-only
            transform: scale(0.9)

        .column-margin
          margin-right: 10rem
          margin-left: 7.375rem
          +touch
            margin-right: 0
            margin-left: 0
            margin-bottom: 1.2rem
          +desktop-only
            margin-right: 1.5rem
            margin-left: 1rem
            transform: scale(0.9)
          +widescreen-only
            margin-right: 5rem
            margin-left: 0

.card
  +mobile
    width: 100vw !important
