@import "../_shared-sass/imstrong-ui.sass"
@import "../_shared-sass/image-with-overlay.sass"
@import "../_shared-sass/footer.sass"
@import "../_shared-sass/livestream_schedule.sass"
@import "../_shared-sass/signup.sass"

.hero
  .hero-body
    overflow: hidden
    +touch
      padding: 5rem 0rem 0rem

    .container
      +desktop-only
        display: flex
        justify-content: center
      +widescreen-only
        display: flex
        justify-content: center

      .columns
        +touch
          flex-direction: row-reverse
          flex-wrap: wrap-reverse
          justify-content: center

        .column
          flex-grow: 0
          +mobile
            padding: 0.75rem 0

          .is-hidden-touch, .is-hidden-desktop
            margin-bottom: 1.25rem
            h1
              font-weight: 800
            h6
              font-size: 1rem

            +mobile
              padding: 0 1.75rem
              h1
                font-size: 2rem
              h6
                font-size: 0.72rem !important
              img
                width: 24px
                height: 24px

          .trainer__img
            background: transparent url("../Image/BG-Image@2x.png") no-repeat top
            width: 35.5rem
            height: 25rem
            +background-img
            .trainer__img--overlay
              bottom: 0
              left: 0
              
          .trainer__live-video
            height: auto

            .live-video-info-wrapper
              height: 25rem

            .live-video-info-wrapper__tag
              background-color: #fff8d8
              color: #000000
              font-size: 1.25rem

            .replay-button
              width: 50%

        .img__container
          +tablet-only
            transform: scale(0.9)

        .column-margin
          margin-right: 10rem
          margin-left: 7.375rem
          +touch
            margin-right: 0
            margin-left: 0
            margin-bottom: 1.2rem
          +desktop-only
            margin-right: 0
            margin-left: 1rem
            transform: scale(0.9)
          +widescreen-only
            margin-right: 5rem
            margin-left: 0

.zerodha-promotion__section
  padding-bottom: 6rem !important

  .zerodha-promotion__container
    display: flex
    flex-direction: column
    align-items: center
    .zerodha-promotion__content
      text-align: center
      margin-bottom: 2.625rem
  .zerodha-promotion__card
    width: 81.3%
    height: auto
    background: transparent linear-gradient(286deg, rgba(10, 239, 161, 0.12) 0%, rgba(255, 216, 87, 0.12) 100%) 0% 0% no-repeat padding-box
    border: 1px solid $white
    border-radius: 5px
    padding: 2.313rem 5.75rem 2.938rem 5.75rem
    +mobile
      width: 100%
      padding: 3.938rem 2.375rem 2.938rem 2.375rem
    .zerodha-promotion__card-content
      text-align: center
      margin-bottom: 0
      .columns
        text-align: start
        h5
          font-size: 1.125rem
          margin-bottom: 1.75rem
      .content
        +touch
          text-align: center
      .navbar-item__basic
        padding: 0.875rem 3.063rem
      a,button
        +mobile
          font-size: 16px
          width: 200px
          margin-right: 0 !important
          margin-bottom: 1rem
        &:not(:last-child)
          margin-right: 2.5rem
          +tablet-only
            margin-right: 0.45rem
            margin-bottom: 0.5rem

    .zerodha-promotion__price
      width: fit-content
      margin: 2rem auto
      position: relative
      display: block

      .strike-through
        display: block
        margin: 0.8rem auto 0rem auto
        height: 2px
        background: red
        position: absolute
        left: 0
        right: 0

    .badge-shadow
      position: absolute
      top: -14px
      right: -1px
      filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.12))
      display: flex
      flex-direction: column
      align-items: center
      .badge
        width: 146px
        height: 28px
        background-color: #0AEFA1
        -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 12% 50%, 0% 0%)
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 12% 50%, 0% 0%)
        display: flex
        align-items: center
        margin-bottom: .5rem
        .badge__title
          font-size: 0.875rem
          margin-left: 1.5rem
          color: $primary
      .badge__sponsored
        font-family: $family-karla
        font-weight: 900


.telegram-chat-button
  padding: 0.25rem 2.2rem
  height: 2.763rem
  color: $telegram-button-color
  border-color: $telegram-button-color
  &:hover,
  &:active
    background-color: $telegram-button-color
    color: $white !important
    box-shadow: transparentize($telegram-button-color, 0.75) 0 0.625rem 0.8rem
    border-color: $telegram-button-color
  &:hover,
  &:focus
    color: $white
  &:focus
    color: $telegram-button-color
    border-color: $telegram-button-color
    box-shadow: none !important
  .icon
    margin-right: 1rem !important

.card
  +mobile
    width: 100vw !important
    
.video-modal
  max-height: 100%
  width: 100%
  height: 100%

  .modal-content
    width: calc(100% - 20vw)
    max-height: 100%

  +mobile
    .modal-content
      width: 100%
  
// after login this dropdown style will be shown
.navbar-link
  margin-right: 1rem
.navbar-dropdown
  margin-left: -3rem
  a
    //font-family: $family-muli
    font-size: 1rem
.trainer__img-buttons
  text-align: end
  margin-top: 1.688rem
  +mobile
    margin-right: 1rem
  .trainer__img-buttons-subtitle
    font-size: 0.625rem
    //font-family: $family-muli
    color: #999999
    margin-top: 6px
  .chat-button
    padding: .25rem 4rem
//-----------------------------------------------

// React mounted component wrappers
.livestream_schedule_list_wrapper
  width: 27.75rem
  height: 27.688rem
  +mobile
    width: 100vw
